<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear item-button-left button-dark header-left" data-ng-click="closeModal()">
            <i class="fa fa-chevron-left"></i> Back
        </button>
        <h1 class="title">Create a post</h1>
        <button class="button button-clear item-button-left button-dark header-right" data-ng-click="submit()">
            Submit
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Title</span>
                <input type="text" data-ng-model="post.title">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Content</span>
                <textarea rows="8" cols="10" data-ng-model="post.content">
                </textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Author</span>
                <input type="text" data-ng-model="post.author.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date Posted</span>
                <input type="date" data-ng-model="post.date_posted">
            </label>
        </div>
    </ion-content>
</ion-modal-view>