<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear item-button-left button-dark header-left" data-ng-click="closeModal()">
            <i class="fa fa-chevron-left"></i> Contacts
        </button>
        <h1 class="title">Add new contact</h1>
        <button class="button button-clear item-button-left button-dark header-right" data-ng-click="submit()">
            Add
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="Full Name" data-ng-model="contact.name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" data-ng-model="contact.email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Contact Number</span>
                <input type="text" placeholder="Contact Number" data-ng-model="contact.number">
            </label>
        </div>
    </ion-content>
</ion-modal-view>