<ion-view title="Geolocation">
    <!--Navbar Buttons-->
    <!--<ion-nav-buttons side="left">-->
        <!--<button class="button button-clear" ng-click="openModal()">-->
            <!--<i class="fa fa-plus-circle"></i>-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-clear" ng-click="toggleSearch()">-->
            <!--<i class="fa fa-search"></i>-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->

    <!--Content-->
    <ion-content id="content" start-y="50" overflow-scroll="true" >
        <!--insert content-->
        <div id="geolocation"></div>
        <div class="list">
            <div class="button-bar">
                <a class="button button-calm" data-ng-click="pickContact()">
                    Pick Recipient&nbsp;
                    <i class="fa fa-user"></i>
                </a>
                <a class="button button-balanced" data-ng-init="data.nullNumber = true"
                   data-ng-click="sendSMS()" data-ng-disabled="data.nullNumber">
                    Send&nbsp;
                    <i class="fa fa-share"></i>
                </a>
            </div>

            <label class="item item-input item-floating-label">
                <span class="input-label">Recipient</span>
                <input type="text" placeholder="Recipient" data-ng-model="sms.number"
                       data-ng-change="checkNumber()"
                       data-ng-init="sms.number = null">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Message</span>
                <textarea rows="8" cols="10" placeholder="Message"
                          data-ng-model="sms.message"
                          data-ng-init="sms.message = null">
                </textarea>
            </label>
        </div>
    </ion-content>

</ion-view>


