<ion-view title="">
    <!--Navbar Buttons-->
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear header-right" ng-click="editContact()">
            <i class="fa fa-pencil-square-o"></i>&nbsp;Edit
        </button>
    </ion-nav-buttons>

    <!--Content-->
    <ion-content overflow-scroll="true" >
        <div>
            <br/>
            <p>{{ contact.name }}</p>
        </div>
    </ion-content>
</ion-view>


